section#discount {
  background-color: #212529;
  background-image: url("https://mrspeedy.co.uk/assets/img/discount.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Extinde imaginea să acopere toată secțiunea */
  width: 100%;
  min-height: 450px;
  /* Setează înălțimea minimă la 40% din ecran */
  display: flex;
  /* Asigură centrare pe verticală și orizontală */
  align-items: center;
  /* Centrează conținutul pe verticală */
  margin: 0 0 4rem 0;
}

section#discount .section-heading-discount {
  color: #fff;
  font-size: 2.3rem;
  letter-spacing: 4px;
}
section#discount .section-discount {
  color: #ffc800;
  font-size: 2.3rem;
  letter-spacing: 3px;
}
section#discount a {
  padding: 10px 40px;
  color: #212529;
  font-weight: 600;
  letter-spacing: 0.9px;
  background-color: #ffc800;
}
