/* === Butoane flotante (CTA) === */
.text-label{ display:none } /* ascundem textul pe desktop */

.float, .float2{
  position:fixed; width:50px; height:50px; bottom:10px; left:10px;
  background:#25D366; color:#fff; border-radius:50%; font-size:28px; text-align:center; line-height:50px;
  z-index:100; transition:all .3s ease-in-out; display:flex; align-items:center; justify-content:center;
}
.float2{ bottom:70px; background:#2555d3 }
.float i, .float2 i{ display:block }

/* pe mobil, full-width */
@media (max-width:768px){
  .float, .float2{
    position:fixed; width:100%; height:50px; left:0; border-radius:0; font-size:22px;
    text-align:center; line-height:60px; display:flex; align-items:center; justify-content:center;
  }
  .float{ bottom:50px; background:#25D366 }
  .float2{ bottom:0; background:#2555d3 }
  .text-label{ display:inline-block; font-size:18px; font-weight:700; margin-left:10px }
  .float i, .float2 i{ font-size:22px }
}
